@model TrabalhoProg.Modelo.Category

@{
    ViewData["Title"] = "Editar Categoria";
}

<div class="text-center">
    <h1>Editar Categoria</h1>

    <div class="container">
        <form method="post" asp-action="Update" asp-controller="Category">
            <input type="hidden" asp-for="CategoryId" />

            <div class="form-group">
                <label asp-for="Name">Nome:</label>
                <input type="text" class="form-control" asp-for="Name" />

                <label asp-for="Description">Descrição:</label>
                <input type="text" class="form-control" asp-for="Description" />
            </div>

            <button type="submit" class="btn btn-primary">
                Salvar
            </button>

            <a asp-action="Index" class="btn btn-danger" asp-controller="Category">
                Voltar
            </a>
        </form>
    </div>
</div>