﻿@model List<Modelo.Category>

    @{
    ViewData["Title"] = "Pagina Principal";
    }

    <a asp-action="Create" asp-controller="Category" class="btn btn-light">
        Nova categoria
    </a>
    <a asp-action="Delete" asp-controller="Category" class="btn btn-danger">
        Deeletar categotia
    </a>

    @if (Model.Count > 0)
{
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Modelo.Category category in Model)
            {
            <tr>
                <td>@category.CategoryId</td>
                <td>@category.Name</td>

                <td>
                    <a asp-action="Delete" asp-controller="Category" asp-route-id="@category.CategoryId" title="Excluir Categoria @category.Name">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                </td>
            </tr>

            }
        </tbody>
    </table>
}
else
{
    <div>
        Não existem registros de Categoria
    </div>
}

    <a asp-action="ExportDelimitatedFile" asp-controller="Category" class="btn btn-light">
        Exportar Delimitado
    </a>

    <a asp-action="ExportFixedFile" asp-controller="Category" class="btn btn-light">
        Exportar Fixo
    </a>
