@model TrabalhoProg.ViewModels.PropertyViewModel;

@{
    ViewData["Title"] = "Criar uma nova propriedade";
}

<div class="text-center">
    <h1>Cadastro de Propriedade</h1>

    <div class="container">

        <form id="formProperty" method="post" asp-action="Create" asp-controller="Property">
            <div class="row">
                <div class="form-group">
                    <label asp-for="Property.Name">Nome:</label>
                    <input type="text" class="form-control" asp-for="Property.Name" />

                    <label asp-for="Property.Description">Descrição:</label>
                    <input type="text" class="form-control" asp-for="Property.Description" />

                    <label asp-for="Property.BedRooms">Quartos:</label>
                    <input type="text" class="form-control" asp-for="Property.BedRooms" />

                    <label asp-for="Property.GarageVacancies">Vagas de Garagem:</label>
                    <input type="text" class="form-control" asp-for="Property.GarageVacancies" />

                    <hr />

                    <h4>Endereço</h4>
                    <label asp-for="Property.Address.Street">Rua:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.Street" />

                    <label asp-for="Property.Address.Street1">Número/Complemento:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.Street1" />

                    <label asp-for="Property.Address.City">Cidade:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.City" />

                    <label asp-for="Property.Address.State">Estado:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.State" />

                    <label asp-for="Property.Address.PostalCode">CEP:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.PostalCode" />

                    <label asp-for="Property.Address.Country">País:</label>
                    <input type="text" class="form-control" asp-for="Property.Address.Country" />
                </div>
            </div>

            <button id="btnProperty" type="submit" class="btn btn-primary" value="Cadastrar">
                Cadastrar
            </button>

            <a asp-action="Index" class="btn btn-danger" asp-controller="Property">
                Voltar
            </a>
        </form>
    </div>
</div>