@model TrabalhoProg.ViewModels.PropertyViewModel;

@{
    ViewData["Title"] = "Apagar uma propriedade";
}

<div class="container">

    <div class="row">
        <div class="col-6">Id:</div>
        <div class="col-6">@Model.Property!.PropertyId</div>
    </div>

    <div class="row">
        <div class="col-6">Descrição:</div>
        <div class="col-6">@Model.Property!.Description</div>
    </div>

    <div class="row">
        <div class="col-12">
            <form method="post" asp-action="ConfirmDelete" asp-controller="Property">
                <input type="hidden" name="id" value="@Model.Property!.PropertyId" />

                <button class="btn btn-primary">
                    Excluir
                </button>

                <a asp-action="Index" class="btn btn-danger" asp-controller="Property">
                    Voltar
                </a>
            </form>
        </div>
    </div>
</div>
