@model TrabalhoProg.ViewModels.PropertyViewModel

@{
    ViewData["Title"] = "Atualizar Propriedade";
}

<div class="text-center">
    <h1>Atualizar Propriedade</h1>
    <div class="container">
        <form method="post" asp-action="Update" asp-controller="Property">
            <input type="hidden" asp-for="Property!.PropertyId" />

            <div class="form-group">
                <label asp-for="Property.Name">Nome:</label>
                <input type="text" class="form-control" asp-for="Property.Name" />

                <label asp-for="Property.Description">Descrição:</label>
                <input type="text" class="form-control" asp-for="Property.Description" />

                <label asp-for="Property.BedRooms">Quartos:</label>
                <input type="number" class="form-control" asp-for="Property.BedRooms" />

                <label asp-for="Property.GarageVacancies">Vagas de Garagem:</label>
                <input type="number" class="form-control" asp-for="Property.GarageVacancies" />

                <label asp-for="Property.CurrentPricePerNight">Preço por Noite:</label>
                <input type="number" class="form-control" step="0.01" asp-for="Property.CurrentPricePerNight" />

                <hr />
                <h4>Endereço</h4>
                <select asp-for="Property.Address!.AddressId" class="form-control"
                        asp-items="@(new SelectList(Model.Addresses, "AddressId", "Street"))">
                    <option value="">Selecione um endereço</option>
                </select>

                <h4>Categoria</h4>
                <select asp-for="Property.Category!.CategoryId" class="form-control"
                        asp-items="@(new SelectList(Model.Categories, "CategoryId", "Name"))">
                    <option value="">Selecione uma categoria</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Salvar alterações</button>
            <a asp-action="Index" class="btn btn-danger">Voltar</a>
        </form>
    </div>
</div>
