@model TrabalhoProg.Modelo.Address

@{
    ViewData["Title"] = "Atualizar Endereço";
}

<div class="text-center">
    <h1>Atualizar Endereço</h1>
    <form method="post" asp-action="Update" asp-controller="Address">
        <input type="hidden" asp-for="AddressId" />
        <div class="form-group">
            <label asp-for="Country"></label>
            <input class="form-control" asp-for="Country" />
            <label asp-for="State"></label>
            <input class="form-control" asp-for="State" />
            <label asp-for="City"></label>
            <input class="form-control" asp-for="City" />
            <label asp-for="Street"></label>
            <input class="form-control" asp-for="Street" />
            <label asp-for="Street1"></label>
            <input class="form-control" asp-for="Street1" />
            <label asp-for="PostalCode"></label>
            <input class="form-control" asp-for="PostalCode" />
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
